* {
     margin-left: 0.9vw; 
     padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
    font-family: 'Chivo', sans-serif;
}

.navbar {
    width: 94vw;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.6vh 0;
    border-bottom: 0.1vh solid white;
}

.logo {
    width: 7.25vw;
    height: 4.44vh;
}

.titles {
    display: flex;
    gap: 1.25vw;
}

.titles a {
    font-weight: 400;
    font-size: 1.47vw;
    line-height: 1.67vh;
    letter-spacing: -0.01vw;
}

.hero {
    width: 90vw;
    text-align: center;
    padding: 6.67vh 0;
    border-bottom: 0.05vh solid white;
}

.title {
    width: 90vw;
    font-weight: 900;
    font-size: 6.25vw;
    line-height: 12vh;
    letter-spacing: -0.1vw;
    margin-bottom: 10vh;
}

.titleimg {
    width: 90vw;
    max-width: 1344px;
    height: 672px;
    border-radius: 56px;
    border: 1px solid black;
}

.grid {
    width: 1344px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 32px;
}

.project {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.project img {
    width: 100%;
    height: 279px;
    border: 1px solid white;
    border-radius: 8px;
}

.info h3 {
    font-family: 'Archivo', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
}

.info p {
    font-family: 'Archivo', sans-serif;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.6);
}

.segment {
    width: 90vw;
    padding: 2.5vh 0;
    display: flex;
    align-items: center;
    gap: 1.67vw;
    margin-bottom: 2vh;
}

.spacer {
    width: 50vw;
    height: 14.26vh;
}

.para {
    width: 50vw;
    height: 14.26vh;
    font-family: 'Archivo', sans-serif;
    font-weight: 500;
    font-size: 1.5vw;
    line-height: 4vh;
    letter-spacing: -0.03vw;
}

.landing-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 13.89vh;
    margin: 15vh 0 15vh 0;
}

.footer-para {
    font-family: 'Chivo', sans-serif;
    font-weight: 900;
    font-size: 2vw;
    line-height: 2.08vh;
    letter-spacing: -1%;
    margin-bottom: 6vh;
}

.footer-form {
    width: 31.25vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.7vw;
    margin: 1.5vh auto;
}

.email {
    width: 25.52vw;
    border-radius: 0.42vh;
    padding: 0.31vh 0.63vw;
    background-color: black;
    border: 0.05vh solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.email input {
    width: 100%;
    border: none;
    outline: none;
    font-family: 'Archivo', sans-serif;
    font-weight: 500;
    font-size: 1.5vw;
    line-height: 1.25vh;
    background: none;
    color: white;
}

.submit {
    width: 5.1vw;
    height: 3.7vh;
    border-radius: 0.42vh;
    background-color: #928DD3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.submit input {
    width: 100%;
    border: none;
    font-family: 'Archivo', sans-serif;
    font-weight: 600;
    background: none;
    color: black;
    cursor: pointer;
}

.socials {
    width: 192px;
    height: 48px;
    display: flex;
    justify-content: center;
    gap: 24px;
    margin: 16px auto;
}

.socials img {
    width: 48px;
    height: 48px;
}

.footer {
    width: 100%;
    padding: 0.83vh 0;
    background-color: black;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
}

.footer-content {
    width: 80vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#pagelinks p {
    font-family: 'Chivo', sans-serif;
    font-weight: 400;
    font-size: 1.04vw;
    text-align: center;
}

.buttonlarge {
    display: flex;
    justify-content: center;
    border: 0.05vh solid white;
    border-radius: 0.42vh;
    /* padding: 0.2vh 0.2vw; */
    font-family: 'Archivo', sans-serif;
    font-weight: 600;
    font-size: 1.04vw;
    cursor: pointer;
    text-align: center;
    margin: 0;
    padding: 0;
}

.intro {
    width: 70vw;
    text-align: center;
    margin: 2.5vh auto;
    font-size: 3vw;
    line-height:6vh;
    letter-spacing: -1%;
}


.projects {
    width: 82.5vw;
    text-align: center;
    padding: 5vh 0 8vh 0;
    border-bottom: 0.05vh solid white;
}

.projects h1 {
    font-weight: 900;
    font-size: 3.33vw;
    margin-bottom: 0.8vh;
}

.projects p {
    font-size: 1.25vw;
    line-height: 2vh;
    margin-bottom: 0.8vh;
}

.discover-button {
    background-color: #928DD3;
    font-family: 'Archivo', sans-serif;
    font-weight: 600;
    padding: 0.6vh 0.83vw;
    border-radius: 0.42vh;
    border: none;
    cursor: pointer;
    margin-bottom: 1.25vh;
    margin-top: 2vh;
}

.projectimg {
    width: 86vw;
    /* max-width: 1344px; */
    height: 70vh;
    /* border: 0.05vh solid white; */
}

.aligner{
    
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}

#page{
    display: flex;
    flex-direction: column;
    
}