* {
    margin-left: 0.9vw;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
    font-family: 'Chivo', sans-serif;
}

.navbar {
    width: 94vw;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.6vh 0;
    border-bottom: 0.1vh solid white;
}

.logo {
    width: 7.25vw;
    height: 4.44vh;
}

.titles {
    display: flex;
    gap: 1.25vw;
}

.titles a {
    font-weight: 400;
    font-size: 1.47vw;
    line-height: 1.67vh;
    letter-spacing: -0.01vw;
}

.hero {
    width: 90vw;
    text-align: center;
    padding: 6.67vh 0;
    border-bottom: 0.05vh solid white;
}

.title {
    width: 90vw;
    font-weight: 900;
    font-size: 6.25vw;
    line-height: 12vh;
    letter-spacing: -0.1vw;
    margin-bottom: 10vh;
}

.titleimg {
    width: 90vw;
    max-width: 1344px;
    height: 672px;
    border-radius: 56px;
    border: 1px solid black;
}

.grid {
    width: 1344px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 32px;
}

.project {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.project img {
    width: 100%;
    height: 279px;
    border: 1px solid white;
    border-radius: 8px;
}

.info h3 {
    font-family: 'Archivo', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
}

.info p {
    font-family: 'Archivo', sans-serif;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.6);
}

.segment {
    width: 1344px;
    padding: 32px 0;
    display: flex;
    align-items: center;
    gap: 32px;
}

.spacer {
    width: 656px;
    height: 154px;
}

.para {
    width: 656px;
    height: 154px;
    font-family: 'Archivo', sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.5%;
}

.landing-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 150px;
}

.footer-para {
    font-family: 'Chivo', sans-serif;
    font-weight: 900;
    font-size: 34px;
    line-height: 40px;
    letter-spacing: -1%;
    margin-bottom: 20px;
}

.footer-form {
    width: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
    margin: 20px auto;
}

.email {
    width: 490px;
    border-radius: 8px;
    padding: 6px 12px;
    background-color: black;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.email input {
    width: 100%;
    border: none;
    outline: none;
    font-family: 'Archivo', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    background: none;
    color: white;
}

.submit {
    width: 98px;
    height: 40px;
    border-radius: 8px;
    background-color: #928DD3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.submit input {
    width: 100%;
    border: none;
    font-family: 'Archivo', sans-serif;
    font-weight: 600;
    background: none;
    color: black;
    cursor: pointer;
}

.socials {
    width: 192px;
    height: 48px;
    display: flex;
    justify-content: center;
    gap: 24px;
    margin: 16px auto;
}

.socials img {
    width: 48px;
    height: 48px;
}

.footer {
    width: 100%;
    padding: 16px 0;
    background-color: black;
    color: white;
    text-align: center;
}

.footer-content {
    width: 1344px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#pagelinks p {
    font-family: 'Chivo', sans-serif;
    font-weight: 400;
    font-size: 20px;
    margin: 0;
}

.buttonlarge {
    border: 1px solid white;
    border-radius: 8px;
    padding: 8px 16px;
    font-family: 'Archivo', sans-serif;
    font-weight: 600;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
}

.intro {
    width: 1344px;
    text-align: center;
    margin: 48px auto;
    font-size: 48px;
    line-height: 52px;
    letter-spacing: -1%;
}


.projects {
    width: 1344px;
    text-align: center;
    padding: 48px 0;
    border-bottom: 1px solid white;
}

.projects h1 {
    font-weight: 900;
    font-size: 64px;
    margin-bottom: 12px;
}

.projects p {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 32px;
}

.discover-button {
    background-color: #928DD3;
    font-family: 'Archivo', sans-serif;
    font-weight: 600;
    padding: 8px 16px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    margin-bottom: 24px;
}

.projectimg {
    width: 100%;
    max-width: 1344px;
    height: 756px;
    border: 1px solid white;
}
